html {
  scroll-behavior: smooth;
}
body {
  background-color: #fff1d4;
  scroll-behavior: smooth;
  
}
header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: top 0.3s ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
/* Loading */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}


.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid #ddd;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 15px;
}

/*jgn diubah */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


.loader h2 {
  font-family: Arial, sans-serif;
  color: #555;
  font-size: 1.2rem;
  letter-spacing: 1px;
}



.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  max-width: 1200px;
  margin: auto;
  font-family: "Londrina Solid", sans-serif;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 300;
  transition: 230ms ease-in-out;
}
.nav-links a:hover {
  border-bottom: 1px solid black;
  transition: 230ms ease-in-out;
}
.menu-toggle {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}
main {
  padding-top: 50px;
}
.sec-home {
  position: relative;
  overflow: hidden;
}
.container-home {
  position: relative;
  font-family: "Londrina Solid", sans-serif;
  font-weight: 300;
  font-size: 2.4rem;
  text-align: center;
  background-color: transparent;
  height: 500px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

span {
  font-size: 1.7rem;
  font-weight: 300;
}

.images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  opacity: 0.8; 
  pointer-events: none; 
}
.images img {
  object-fit: cover;
  width: 150px;
}
.sec-contain {
  margin-top: 100px;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 90px;
}
.container-navigation-contain {
  display: flex;
  justify-content: center;
  gap: 90px;
  background-image: url("/images/putriNari.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.container-contain {
  display: flex;
  flex-direction: column;
  gap: 3px;
  cursor: pointer;
}
.container-contain img {
  width: 90px;
}
.container-contain img:hover {
  transition: 0.4s ease-in-out;
  transform: scale(1.1);
}
.container-card-contain-achievement img {
  padding-left: 8px;
}
.sec-profile {
  margin-top: 20px;
  padding-top: 30px;
}
.sec-profile h1 {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  text-align: center;
}
.cotainer-profilexplain {
  background-color: #fadcad;
  width: 70%;
  margin: 0 auto;
  padding: 1.3rem;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.container-img-profile {
  text-align: center;
}

.scroll-wrapper {
  overflow: hidden;
  border-radius: 12px;
  background-color: #8e4a39;
}

.container-img-profile-card {
  padding: 10px;
  display: flex;
  animation: scroll 50s linear infinite;
  width: max-content;
}

.scroll-content {
  display: flex;
  gap: 1rem;
}

.scroll-content img {
  width: 180px;
  height: auto;
  border-radius: 10px;
  flex-shrink: 0;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.container-content-history {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 80px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  /* font-family: "Londrina Solid", sans-serif; */
}
.container-card-history {
  background-color: #fadcad;
  width: 50%;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05), 0 6px 12px rgba(0, 0, 0, 0.1);
}
.container-card-history p {
  text-align: justify;
}
#img-history {
  width: 150px;
  height: auto;
  transform: rotate(0deg);
  transition: transform 0.55s cubic-bezier(0.34, 1.56, 0.64, 1);
  transform-origin: center;
}
#img-history:hover {
  transform: rotate(-35deg) scale(1.05);
}

.container-popup-history {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  display: none;
}
.container-card-popup-history {
  background-color: #fff1d4;
  padding: 2rem;
  max-width: 500px;
  max-height: 90vh; /* Batas tinggi maksimal */
  overflow-y: auto;  /* Bikin kontennya bisa di-scroll */
  border-radius: 16px;
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease;
  text-align: center;
}
.container-card-popup-history :nth-child(2) {
  text-align: justify;
}

.ul-history-popup {
  text-align: left;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.btn-readmore-history {
  margin-top: 1rem;
  background-color: #f5c9a5;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 150px;
  height: 40px;
  
}
.btn-readmore-history:hover {
  margin-top: 1rem;
  background-color: #f8b883;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.container-card-popup-history button {
  margin-top: 1rem;
  background-color: #fadcad;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.container-card-popup-history button:hover {
  background-color: #f5c9a5;
}

.sec-alatMusik {
  padding: 40px 20px;
  background-color: #fff1d4;
  border-radius: 20px;
}

.judul-section {
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
  color: #333;
  font-family: "Londrina Solid";
  font-weight: 400;
}

.scroll-wrapper-alatMusik {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding-bottom: 10px;
  scroll-behavior: smooth;
}

.container-content-alatMusik {
  display: inline-flex;
  gap: 16px;
  padding: 20px 5px 5px 5px;
}

.container-card-alatMusik {
  min-width: 200px;
  max-width: 200px;
  background-color: white;
  border-radius: 10px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  text-align: center;
  transition: transform 0.3s;
}
.container-card-alatMusik p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  max-width: 100%;
  margin: 0 0 10px 0;
  font-family: "Londrina Solid", sans-serif;
  font-weight: 300;
  
}

.container-card-alatMusik:hover {
  transform: scale(1.05) translateY(-10px);

}

.container-card-alatMusik img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}
.section-albumLagu {
  padding: 40px 20px;
  background-color: #fff1d4;
}

.judul-section {
  text-align: center;
  font-size: 28px;
  font-family: "Londrina Solid", sans-serif;
  color: #222;
  margin-bottom: 30px;
}

.container-content-album {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); */
  gap: 20px;
  justify-items: center;
}

.album-card {
  width: 100%;
  max-width: 320px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
}

.album-card:hover {
  transform: translateY(-5px);
}

footer {
  background-color: #222;
  width: 100%;
  color: whitesmoke;
  padding: 10px 5px 12px 5px;
  border-radius: 12px;

}
.container-content-footer {
  text-align: center;
}
.container-content-footer h2 :nth-child(1) {
  font-family: "Londrina Solid", Georgia, 'Times New Roman', Times, serif;
  font-weight: 300;
}
.container-footer-sosmed {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.container-footer-instagram,
.container-footer-spotify,
.container-footer-tiktok,
.container-footer-youtube {
  transition: transform 540ms ease;
  padding-bottom: 10px;
}


.container-footer-instagram:hover,
.container-footer-spotify:hover,
.container-footer-tiktok:hover,
.container-footer-youtube:hover {
  transform: translateY(-5px);
  transition: 540ms ease;
}



@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #fff;
    flex-direction: column;
    width: 100%;
    display: none;
  }

  .nav-links.active {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
  }

  .menu-toggle {
    display: block;
    cursor: pointer;
  }
  .container-navigation-contain {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-content-history {
    text-align: center;
    padding-top: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  .container-card-history {
    width: 87%;
  }
  .scroll-wrapper-alatMusik h4 {
    display: block;
  }
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-container > div {
    width: 100%;
  }
}
